extends layout

block content
    // Intro
    section(class="hero hero-intro is-medium is-dark" style="background-color: #0C1010")
        div(class="hero-body dark-layer")
            div(class="container")
                div(class="columns")
                    div(class="column is-two-fifths")
                        img(src="/img/aprilon-small-compact.png")
                        p(style="white-space: pre;")
                        | Aprilon was a gaming community that hosted game servers for a multitude of games, including Garry's Mod, Team Fortress 2 and Minecraft.
                        br
                        br
                        | The community was founded in 2009, and eventually closed its operations in 2015.
                        br
                        br
                        | We're thankful for the support we've received from the community.
                        | This website represents the history of Aprilon.
                        br
                        br
                        |
                        a(href="https://discord.gg/sTBfWTG" class="button button-discord is-dark is-rounded")
                            img(src="/img/discord-128x144.png" width="16px")
                            p(class="heading")="Discord"

                        a(href="https://steamcommunity.com/groups/aprilon" class="button button-steam is-dark is-rounded")
                            img(src="https://aprilon.org/forum/assets/img/steam.png" width="16px")
                            p(class="heading")="Steam Group"




    // Stats
    include stats

    // Minecraft
    section(class="hero is-medium is-dark hero-minecraft")
        div(class="hero-body")
            div(class="container")
                div(class="columns is-mobile")
                    div(class="column is-8")
                        h1(class="title") Minecraft Worlds
                        h2(class="subtitle") Previous worlds are available for download

                    div(class="column is-4 has-text-right")
                        div(class="columns is-multiline")
                            div(class="column has-text-centered")
                                p(class="heading has-text-light")="First world"
                                p(class="heading has-text-light")="(2010-2012)"
                                p(class="title has-text-light")="7GB"
                                a(href="/download/world-1" class="button is-rounded is-link download-button")="Download"

                            div(class="column has-text-centered")
                                p(class="heading has-text-light")="Second world"
                                p(class="heading has-text-light")="(2014-2015)"
                                p(class="title has-text-light")="0.7GB"

                                a(href="/download/world-2" class="button is-rounded is-link download-button")="Download"

    // Cards
    include cards

    // Footer
    div(class="simple-footer has-text-centered")
        p
        | Made by Karl Labrador. Code is open source and available on&nbsp;
        a(href="https://github.com/karllabrador/aprilon")="GitHub"
        |.
        | Looking for the forums?&nbsp;
        a(href="https://aprilon.org/forum")="Here they are"
        |.
        br
        p(style="margin-top: 3px")
            a(href="https://bulma.io")
                img(src="https://bulma.io/images/made-with-bulma--dark.png" alt="Made with Bulma" width="128" height="24")





