section(class="section" name="statistics")
    div(class="container")
        h1(class="title has-text-light") Stats
        p(class="has-text-light")
        | Over the years, we've recorded thousands of players visiting our game servers.
        | These figures are based on our latest copies of data that we've gathered from multiple sources, including HLStatsX:CE for Team Fortress 2,
        | and our own in-house developed management tools for Garry's Mod and Minecraft.

        div(class="columns is-multiline is-mobile section-spacing")
            // Garry's Mod
            div(class="column is-3 has-text-centered")
                div(class="columns is-align-items-center")
                    div(class="column is-two-fifths")
                        img(src="/img/garrysmod-128x128.png" width="64" height="64" style="" alt="Garry's Mod icon")
                    div(class="column has-text-left is-hidden-mobile")
                        p(class="game is-size-4") Garry's Mod

            div(class="column is-3")
                div(class="has-text-centered")
                    p(class="heading has-text-light")="Players"
                    p(class="title has-text-light is-size-6-mobile")
                        |
                        span(class="countup")="21.3"
                        |K

            div(class="column is-3")
                div(class="has-text-centered")
                    p(class="heading has-text-light")="Playtime in hours"
                    p(class="title has-text-light is-size-6-mobile")
                        |
                        span(class="countup")="13.4"
                        |K

            div(class="column is-3")
                div(class="has-text-centered")
                    p(class="heading has-text-light")="Years in total"
                    p(class="title has-text-light is-size-6-mobile")
                        span(class="countup")="1.5"

            // Team Fortress
            div(class="column is-3 has-text-centered")
                div(class="columns is-align-items-center")
                    div(class="column is-two-fifths")
                        img(src="/img/teamfortress-128x128.png" width="64" height="64" style="" alt="Team Fortress 2 icon")
                    div(class="column has-text-left is-hidden-mobile")
                        p(class="game is-size-4") Team Fortress 2

            div(class="column is-3")
                div(class="has-text-centered")
                    p(class="heading has-text-light")="Players"
                    p(class="title has-text-light is-size-6-mobile")
                        |
                        span(class="countup")="322.3"
                        |K

            div(class="column is-3")
                div(class="has-text-centered")
                    p(class="heading has-text-light")="Playtime in hours"
                    p(class="title has-text-light is-size-6-mobile")
                        |
                        span(class="countup")="538.8"
                        |K

            div(class="column is-3")
                div(class="has-text-centered")
                    p(class="heading has-text-light")="Years in total"
                    p(class="title has-text-light is-size-6-mobile")
                        span(class="countup")="61.4"

            // Minecraft
            div(class="column is-3 has-text-centered")
                div(class="columns is-align-items-center")
                    div(class="column is-two-fifths")
                        img(src="/img/minecraft-128x128.png" width="64" height="64" style="" alt="Minecraft icon")
                    div(class="column has-text-left")
                        p(class="game is-size-4 is-hidden-mobile") Minecraft

            div(class="column is-3")
                div(class="has-text-centered")
                    p(class="heading has-text-light")="Players"
                    p(class="title has-text-light is-size-6-mobile")
                        |
                        span(class="countup")="6.6"
                        |K

            div(class="column is-3")
                div(class="has-text-centered")
                    p(class="heading has-text-light")="Playtime in hours"
                    p(class="title has-text-light is-size-6-mobile")
                        |
                        span(class="countup")="30.8"
                        |K

            div(class="column is-3")
                div(class="has-text-centered")
                    p(class="heading has-text-light")="Years in total"
                    p(class="title has-text-light is-size-6-mobile")
                        span(class="countup")="3.5"

            // Community
            div(class="column is-3 has-text-centered")
                div(class="columns is-align-items-center")
                    div(class="column is-two-fifths")
                        img(src="/img/forum-128x128.png" width="64" height="64" style="" alt="Forums icon")
                    div(class="column has-text-left is-hidden-mobile")
                        p(class="game is-size-4") Forums

            div(class="column is-3")
                div(class="has-text-centered")
                    p(class="heading has-text-light")="Forum Members"
                    p(class="title has-text-light is-size-6-mobile")
                        |
                        span(class="countup")="1.2"
                        |K

            div(class="column is-3")
                div(class="has-text-centered")
                    p(class="heading has-text-light")="Posts"
                    p(class="title has-text-light is-size-6-mobile")
                        |
                        span(class="countup")="27.1"
                        |K

            div(class="column is-3")
                div(class="has-text-centered")
                    p(class="heading has-text-light")="Pageviews"
                    p(class="title has-text-light is-size-6-mobile")
                        |
                        span(class="countup")="5.1"
                        |M